// Variables
//
// Variable format should follow the $[element]-[property]-[orientation]-[size]-[variant] order.


// Table of contents
//
// Global
// -- Colors
// -- Borders
// -- Border radius
// -- Breakpoints
// -- Fonts
// -- Spacing
// -- Transitions
// Element
// -- Body
// -- Headings
// -- Inputs
// -- Labels
// -- Links
// -- Tables


// Colors
// ==================================================

$color-brand-primary: rgb(213, 0, 88);
$color-brand-primary-dark: rgb(119, 2, 63);
$color-brand-primary-light: rgb(240, 96, 152);
$color-brand-primary-lighter: rgb(252, 228, 237);

$color-brand-grey: rgb(77, 77, 79);
$color-brand-grey-light: rgb(215, 216, 214);

$color-white: #fff;
$color-grey-lightest: #f6f6f6;
$color-grey-lighter: #eeeeef;
$color-grey-light: #dedede;
$color-grey: #d1d1d1;
$color-grey-dark: lighten($color-brand-grey, 25%);
$color-grey-darker: $color-brand-grey;

$color-darken: rgba(0, 0, 0, .075);
$color-darken-more: rgba(0, 0, 0, .25);

$color-lighten: rgba(255, 255, 255, .1);
$color-lighten-more: rgba(255, 255, 255, .5);
$color-lighten-lots: rgba(255, 255, 255, .75);



// Borders
// ==================================================

$border-color: $color-grey-light;
$border-style: solid;

$border-width: .1em;
$border-width-sm: $border-width / 2;
$border-width-lg: $border-width * 2;

$border: $border-style $border-width $border-color;


// Border radius
// ==================================================

$border-radius: 0;


// Breakpoints
// ==================================================
// Usage: @media screen and (min-width: map-get($bp, sm)) {}

$container-max-width: 1200 / 16 * 1em;

$bp: (
  xs: 0,
  sm: 28em,
  md: 38.4em,
  lg: 48em,
  xl: 55em,
  xxl: 60em,
  xxxl: 70em,
  max: $container-max-width
);

// Fonts
// ==================================================

$font-family-cursive: cursive;
$font-family-monospace: monospace;
$font-family-sans-serif: Arial, "Helvetica Neue", "Helvetica", sans-serif;
$font-family-serif: serif;

$font-family: $font-family-sans-serif;

$line-height: 1.5;
$font-size: 1rem; // 16px
$font-size-sm: .875em;
$font-size-lg: 1.25em;
$font-size-xs: .75em;

$selection-bg: rgba(0, 0, 0, .25);
$selection-color: inherit;


// Spacing
// ==================================================

$spacing-horizontal: 1em; // 16px
$spacing-horizontal-lg: $spacing-horizontal * 2;
$spacing-horizontal-sm: $spacing-horizontal / 2;
$spacing-horizontal-xl: $spacing-horizontal * 4;
$spacing-horizontal-xs: $spacing-horizontal / 4;

$spacing-horizontal-fluid: 10%;
$spacing-horizontal-fluid-lg: $spacing-horizontal-fluid * 1.5;
$spacing-horizontal-fluid-sm: $spacing-horizontal-fluid / 1.5;

$spacing-horizontal-root: 5vw;

$spacing-vertical: 1em; // 16px
$spacing-vertical-lg: $spacing-vertical * 2;
$spacing-vertical-sm: $spacing-vertical / 2;
$spacing-vertical-xl: $spacing-vertical * 4;
$spacing-vertical-xs: $spacing-vertical / 4;

$spacing-vertical-fluid: 10%;
$spacing-vertical-fluid-lg: $spacing-vertical-fluid * 1.5;
$spacing-vertical-fluid-sm: $spacing-vertical-fluid / 1.5;

$spacing-vertical-root: 5vw;


// Transitions
// ==================================================

$transition-duration: 125ms;
$transition-timing: ease-in-out;


// Body
// ==================================================

$body-bg: $color-white;
$body-color: $color-grey-darker;


// Headings
// ==================================================

// @TODO update heading sizes
$h1-font-size: 1.75em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$h4-font-size: 1.125em;
$h5-font-size: 1em;
$h6-font-size: .875em;

$heading-color: $color-grey-darker;
$heading-font-family: $font-family-sans-serif;
$heading-font-weight: normal;
$heading-line-height: 1.25;


// Inputs
// ==================================================

$input-bg: $color-white;
$input-bg-disabled: $color-grey-lightest;

$input-border-color: $color-white;
$input-border-color-focus: $color-grey-light;
$input-border-color-hover: lighten($color-grey-light, 5%);

$input-border-radius: $border-radius;

$input-box-shadow: none;

$input-color: $body-color;
$input-color-placeholder: $color-grey-dark;

$input-padding-horizontal: $spacing-horizontal-sm;
$input-padding-vertical: $spacing-vertical-sm;


// Labels
// ==================================================

$label-color: inherit;
$label-font-size: 1rem;


// Buttons
// ==================================================

$button-bg: $color-brand-primary;
$button-color: $color-white;

// Links
// ==================================================

$link-color: $color-brand-primary;
$link-active-color: darken($link-color, 5%);
$link-focus-color: darken($link-color, 5%);
$link-hover-color: lighten($link-color, 5%);

$link-decoration: underline;
$link-hover-decoration: underline;


// Tables
// ==================================================

$table-cell-padding: $spacing-vertical-sm $spacing-horizontal-sm;

$table-bg: transparent;

$table-border-color: $border-color;
$table-border-width: $border-width;

$table-border-collapse: true;
$table-layout-fixed: false; // True breaks styleguide
